{% extends 'base.html' %}

{% block content %}

<h2>{{ book.title }}</h2>
{% if book.cover %}
  <img src="{{ book.cover.url }}" width="120">
{% else %}
    <img src="{% static 'images/no_image.png' %}">
{% endif %}
<p>저자: {{ book.author }}</p>
<p>평균 평점: {{ book.average_rating }} / 5 </p>

<hr>

<h3>책 설명</h3>
<p>{{ book.description }}</p>

<h3>리뷰</h3>

{% for review in reviews %}
  <div>
    <strong>{{ review.user.username }}</strong> |

    {% for i in "12345" %}
      {% if forloop.counter <= review.rating %}
        ⭐
      {% else %}
        ☆
      {% endif %}
    {% endfor %}
    <p></p>
    {{ review.content }}<br>


    {% if user == review.user %}
      <a href="{% url 'review_edit' review.pk %}">수정</a>
      <a href="{% url 'review_delete' review.pk %}">삭제</a>
    {% endif %}
  </div>
{% empty %}
  <p>아직 리뷰가 없습니다.</p>
{% endfor %}

{% if user.is_authenticated %}
  <h3>리뷰 작성</h3>
  <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">등록</button>
  </form>
{% else %}
  <p>리뷰를 작성하려면 <a href="{% url 'login' %}">로그인</a>하세요.</p>
{% endif %}

<a href="/">← 목록으로 돌아가기</a>



{% endblock %}
