{% extends 'base.html' %}

{% block content %}

<h1>{{ book.title }}</h1>
<p>저자: {{book.author}}</p>

{% if book.cover_image %}
    <img src="{{ book.cover_image.url }}">
{% endif %}

<hr>

<h3>책 설명</h3>
<p>{{ book.description }}</p>

<h3>리뷰</h3>

{% for review in reviews %}
  <div style="margin-bottom: 15px;">
    <strong>{{ review.user.username }}</strong> |
    {{ review.rating }}점<br>
    {{ review.content }}<br>

    {% if user == review.user %}
      <a href="{% url 'review_edit' review.pk %}">수정</a>
      <a href="{% url 'review_delete' review.pk %}">삭제</a>
    {% endif %}
  </div>
{% empty %}
  <p>아직 리뷰가 없습니다.</p>
{% endfor %}

{% if user.is_authenticated %}
  <h3>리뷰 작성</h3>
  <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">등록</button>
  </form>
{% else %}
  <p>리뷰를 작성하려면 <a href="{% url 'login' %}">로그인</a>하세요.</p>
{% endif %}

<a href="/">← 목록으로 돌아가기</a>



{% endblock %}
