<h1>{{ book.title }}</h1>
<p>저자: {{book.author}}</p>

{% if book.cover_image %}
    <img src="{{ book.cover_image.url }}">
{% endif %}

<hr>

<h3>책 설명</h3>
<p>{{ book.description }}</p>

<h3>리뷰</h3>

{% for review in reviews %}
  <div>
    <strong>{{ review.rating }}점</strong><br>
    {{ review.content }}<br>
    <small>{{ review.created_at }}</small>
  </div>
{% empty %}
  <p>아직 리뷰가 없습니다.</p>
{% endfor %}

<h3>리뷰 작성</h3>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">등록</button>
</form>

<a href="/">← 목록으로 돌아가기</a>
