# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyc

# Virtual env
venv/
env/
.venv/

# Django
*.log
*.pot
*.pyc
media/
staticfiles/
.DS_Store

# VSCode
.vscode/

# IDEs
.idea/

# macOS
*.DS_Store

# dotenv
.env
